.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form textarea {
    min-height: 200px;
}

.submission {
    display: flex;
    justify-content: end;
}

.submission button {
    background: rgba($color: #f2820a, $alpha: 1.0);
    color: white;
    padding: 10px 20px;
    border: none;
}