* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background: black;
}

.main {
  width: min(90%, 1300px);
  margin: 32px auto;
}
